.navbar {
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    height: 64px;
    /* left: 20vw; */
    top: 0vh;
    /* background: #1A1C1E; */
    background-color: #161718;
    border: 1px solid rgba(255, 255, 255, 0.08);
    z-index: 100;
    /* display: flex; */
    /* padding-left: 3vw; */
    /* justify-content: space-around; */
}

.navbarIcon {
    position: absolute;
    left:23vw;
    width: 2.4vw;
    /* margin-left: 3vw; */
    /* margin-top: -20px; */
}

.navbarHead {
    position: absolute;
    width: 6.3vw;
    /* height: 4.3vh; */
    left: 26.2vw;
    /* background-color: #47C87A; */
    margin-top: -12px;
    /* margin-left:-68vw; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;

    color: #47C87A;
}

#navbarLine {
    position: absolute;
    width: 64px;
    /* height: 0vh; */
left: 65vw;
    top: 30px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    transform: rotate(90deg);
}

.sidebar {
    box-sizing: border-box;
    z-index: 105;
    position: fixed;
    width: 20.5vw;
    height: 100%;
    left: 0vw;
    top: 0vh;
    /* background: #1A1C1E; */
    background-color: #161718;
    border: 1px solid rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: column;
    padding-left: 1.5vw;
}

.logoHead {
    /* position: absolute; */
    width: 8vw;
    /* height: 6.5vh; */
    margin-left: 2vw;
    margin-top: 10px;

    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 51px;
    color: #47C87A;
}

.sbList {
    list-style: none;
    /* position: absolute; */
    /* left: 2.5vw; */
    /* top: 20.5vh; */
    margin-top: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20.5px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.9);

}

.sbListItem {
    margin-bottom: 35px;
    cursor: pointer;
}

.sbListIcon {
    padding-right: 2vw;
    /* width: 50px */
}

.sideBarTweetBtn {
    /* position: absolute; */
    width: 160px;
    height: 40px;
    margin-left: 2.5vw;
    margin-top: 5px;
    border: none;
    background: rgb(71, 200, 122, 0.9);
    border-radius: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.9);
}

/* SEARCH BAR */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #47C87A;
}
.searchFlexBox {
    position: absolute;
    left: 70vw;
    width: 50vw;
    /* width:110vw; */
    /* margin-top:5px; */
    display: flex;
    flex-direction: column;
}

.searchbar {
    border: none;
    outline: none;
    position: fixed;
    width: 24vw;
    height: 36px;
    left: 70vw;
    top: 16px;
    background: #484D4A;
    border-radius: 8px;
    z-index: 102;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    display: inline-block;
    padding-left: 5vw;
    /* padding-top:0.5vh; */
    color: rgba(255, 255, 255, 0.8);

}

::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    /* font-size: 18px; */
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.2);
}

#logout {
    /* color: red; */
    color:rgba(255, 255, 255, 0.8);
    opacity: 0.85;
    font-size: 1rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    position: fixed;
    right: 1vw;
    top: 48px;
    z-index: 100;
    text-decoration: underline;
    cursor: pointer;
    width: 7vw;
    border:1px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    display:none;
    padding-left: 10px;
}
.logoutIconCSS{
    width:36px;
    position:absolute;
    right:20px;
    top:15px;
    cursor: pointer;
    z-index: 102;
}

.searchcomp {
    display: block;
    /* margin-top:100px; */
    margin-bottom: 10px;
    /* margin-left: 900px; */
    width: 24vw;
    height: 10vh;
    background: #1A1C1E;
    /* background-color: #161718; */
    border-radius: 8px;
    /* text-transform: capitalize; */
}

.displaySearchPic {
    position: absolute;
    width: 43px;
    height: 39.09px;
    margin-right: 1vw;
    border-radius: 50%;
    background: #D9D9D9;
    z-index: 6;
    margin-left: 1vw;
    margin-top: 2vh;
}

.searchName {
    position: absolute;
    margin-left: 5vw;
    margin-top: 1.7vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.9);

}

.searchUsername {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #47C87A;
    position: absolute;
    margin-top: 6vh;
    margin-left: 5vw;
    text-decoration: underline;
    cursor: pointer;
}

.searchUsername:hover {
    color: #47C87A;
}

.searchAlter {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 20px;
    position: fixed;
    top: 20vh;
    width: 15vw;
    left: 78vw;
    color: rgba(255, 255, 255, 0.6);
}

#searchtweetBg {
    /* width:14vw; */
    height: 8vh;

}

#searchtweettag {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 2vw;
}

#searchtweettag:hover {
    color: #47C87A;
}

.tagTweetBg {
    background-color: #121212;
    width: 47vw;
    height: 100vh;
    position: absolute;
    /* top:20vh; */
    left: -48vw;
    /* z-index:900; */
}

#TagTweetFlex {
    z-index: 999;
    margin-left: 5vw;
}

#alterTagTweet {
    top: -3vh;
}

#alterTagP {
    font-size: 1.5rem;
}

/* @media (max-width:900px){
    .sidebar{
        display:none;
    }
    .navbarIcon{
        left:10vw;
    }
    .navbarHead{
    left:14vw;
    }
    #navbarLine{
        left:25vw;
    }
} */