.navbar {
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    height: 64px;
   
    top: 0px;
   
    background-color: #161718;
    border: 1px solid rgba(255, 255, 255, 0.08);
    z-index: 100;
}
.navbar1{
    display: flex;
    margin-left:23vw;
    margin-top:14px;
}
.navbarIcon {
   
    width: 24px;
    height:24px;
   
}

.navbarHead {
 width: 6.3vw;
   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    margin-left:0.3vw;

    color: #47C87A;
}

#navbarLine {
   
    width: 64px;
    height: 0px;
    margin-left:34vw;
    margin-top:7px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    transform: rotate(90deg);
}
.navbar2, .navbar3{
    display:none;
}
#SIDEBAR{
    display: block;
}
.sidebar {
    box-sizing: border-box;
    z-index: 105;
    position: fixed;
    width: 20.5vw;
    height: 100%;
    left: 0vw;
    top: 0vh;
    /* background: #1A1C1E; */
    background-color: #161718;
    border: 1px solid rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: column;
    padding-left: 1.5vw;
}


.logoHead {
    /* position: absolute; */
    width: 8vw;
   
    margin-left: 2vw;
    margin-top: 10px;

    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 51px;
    color: #47C87A;

}
.logoHeadNav {
    /* position: absolute; */
    /* width: 8vw; */
    /* height: ; */
    margin-left: -70vw;
   

    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 51px;
    color: #47C87A;
    display:none;
}
.sbDeleteIcon{
    display: none;
}
.sbList {
    list-style: none;
    /* position: absolute; */
    /* left: 2.5vw; */
    /* top: 20.5vh; */
    margin-top: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20.5px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.9);

}

.sbListItem {
    margin-bottom: 35px;
    cursor: pointer;
}

.sbListIcon {
    padding-right: 2vw;
    opacity:0.9;
    /* width: 50px */
}
.sbListName{
  padding-top:20px;
    opacity:0.9;

}
.sideBarTweetBtn {
    /* position: absolute; */
    width: 160px;
    height: 40px;
    margin-left: 2.5vw;
    margin-top: 5px;
    border: none;
    background: rgb(71, 200, 122, 0.9);
    border-radius: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}
.logOutBtn{
    width: 160px;
    height: 40px;
    /* margin-left: 2.5vw; */
    /* margin-top: 5px; */
    border: none;
    outline:none;
    background:none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.15rem;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    position:absolute;
    bottom:10px;
    left:4vw;
}
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #47C87A;
}
#HashTweetBox{
    margin-top: -60px;
}
/* LOG OUT */

#logout {
    /* color: red; */
    color:rgba(255, 255, 255, 0.8);
    opacity: 0.85;
    font-size: 1rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    position: fixed;
    right: 1vw;
    top: 48px;
    z-index: 100;
    text-decoration: underline;
    cursor: pointer;
    width: 7vw;
    border:1px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    display:none;
    padding-left: 10px;
}
.logoutIconCSS{
    width:36px;
    position:absolute;
    right:20px;
    top:15px;
    cursor: pointer;
    z-index: 102;
}

/* SEARCH BAR */

.searchFlexBox {
    position: absolute;
    top:90px;
    left: 70vw;
    /* width: 50vw; */
    display: flex;
    flex-direction: column;
}
.searchBar{
    display: flex;
    margin-left:70vw;
    margin-top:14px;
}
.searchIcon{
    /* z-index:105; */
    /* margin-left:5vw; */

}
.searchbar {
    border: none;
    outline: none;
    position: fixed;
    width: 24vw;
    height: 34px;
    /* left: 70vw; */
    /* top: 16px; */
    background: #484D4A;
    border-radius: 8px;
    z-index: 102;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: inline-block;
    padding-left: 5vw;
    color: rgba(255, 255, 255, 0.8);
}

::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.2);
}

.searchcomp {
    display: block;
margin-bottom: 10px;

  padding:10px;
    width: 24vw;
    height: 60px;
    background: #1A1C1E;
  display: flex;
    border-radius: 8px;
 
}
#picincircle {
    width: 43px;
    height: 39.09px;
    border-radius: 50%;
    background: #D9D9D9;
   
}


.searchName {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    width:20vw;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.9);
margin-top:-2px;
margin-bottom:-4px;
margin-left:-0.2vw;
}

.searchUsername {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #47C87A;
  /* margin-left:0.6vw; */
    text-decoration: underline;
    cursor: pointer;
    margin-top:0;
    width:20vw;
}

.searchUsername:hover {
    color: #47C87A;
}

.searchAlter {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 20px;
    position: fixed;
    top: 20vh;
    width: 15vw;
    left: 78vw;
    color: rgba(255, 255, 255, 0.6);
}

#searchtweetBg {
    /* width:14vw; */
    height: fit-content

}

#searchtweettag {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 1vw;
}

#searchtweettag:hover {
    color: #47C87A;
}

.tagTweetBg {
    background-color: #121212;
    width: 47vw;
    height: 100vh;
    position: absolute;
    /* top:20vh; */
    left: -48vw;
    /* z-index:900; */
}

#TagTweetFlex {
    z-index: 999;
    margin-left: 5vw;
}

#alterTagTweet {
    top: -3vh;
}

#alterTagP {
    font-size: 1.5rem;
}
#PHONESEARCH{
    display: none;
}
 @media (max-width:730px){
    .sidebar{
        width:28vw;
    }
    .navbarIcon{
        margin-left:10vw;
        display: none;
    }
    .navbarHead{
        margin-left:0.6vw;
        display: none;
        }
      #navbarLine{
        display: none;
      }
      #HOME2{
        display: none;
      }
    .searchbar{
        display: none;
    }
    .searchFlexBox{
        display: none;
       
    }
    .searchcomp, .searchAlter{
        display: none;
          /* display:flex; */
      
    }
    #PHONESEARCH, #SIDESEARCH{
        display: flex;
        /* margin-left:-5vw; */
        /* margin-top:5px; */
    }
    #phoneSearch1{
        display:flex;
        margin-left:34vw;
        margin-top:-20px
     
    }
    #phoneSearch2{
        display:flex;
        width:45vw;
    }
    #phoneSearch3, #phoneSearch4{
        display:flex;
        margin-left:-36vw;
        height:fit-content;
        width:45vw;
    }
    #phoneSearch4{
        height:60px;
    }
   .noPhoneSearch{
    display: block;
    margin-left:-32vw;
    width:45vw;
   }
    .sideBarTweetBtn{
        width:16.5vw;
    }
    .navbar2{
        position:fixed;
        display: flex;
        margin-left:88vw;
z-index:102;
margin-top:6px;
    }
    .navSearch1{
        border-radius: 50%;
        background:#484D4A;
        padding:1px;
    }
    .navNotify{
        display: none;
    }
    .navSearch2{
        width:22px;
        height:22px;
        cursor: pointer;
    }
} 

@media(max-width:940px){
    #picincircle{
        /* width:25px; */
        /* height:10px; */
    }
 .searchbar{
    width:22vw;
 }
 .sideBarTweetBtn{
    width:14vw;
 }

}
@media(max-width:1024px){
    .navbarIcon{
        /* width:26px; */
            }
}
#navbarLine{
    margin-left:33vw;
}
@media(max-width:620px){
    .navbar1{
        margin-left:27vw;
    }
    .sideBarTweetBtn{
        width:19vw;
    }
    #phoneSearch1{
        margin-left:40vw;
       
    }
    #phoneSearch3, #phoneSearch4{
        margin-left:-30vw;
    }
    #phoneSearch2, #phoneSearch3 , #phoneSearch4 {
        width:40vw;
    }
    .searchName{
        font-size: 0.9rem;
        width:25vw;
    }
    .searchUsername{
        font-size: 0.8rem;
        width:25vw;;
    }
}
@media(max-width:500px){
    .sidebar{
        display: none;
    }
    .menu-checkIcon{
        display: block;
        margin-top:2px;
    }
    .logoHeadNav{
        display: block;
        font-size: 1.6rem;
        padding-top:0px;
        margin-top:2px;
        z-index:102;
        margin-left:10vw;
        /* margin-top:-2px; */
        /* background-color: #47C87A; */
    }
    .navNotify{
      display: block;
        width:24px;
        height:24px;
        margin-right:1vw;
        margin-top:2px;
        cursor: pointer;
    }
    #navbarLine{
        display: none;
    }
    .navbar1{
        display:none;
    }
    .navbar2{
        margin-left:80vw;
    }
    .navbar3{
        display:flex;
        z-index:102;
        position:absolute;
        bottom:0px;
        background-color: #161718;
    border: 1px solid rgba(255, 255, 255, 0.08);
    height:64px;
    width:100vw;
    padding-left: 10vw;
    padding-right:2vw;
    padding-top:10px;
    position: fixed;
    }
    .NB3Home{
        width:38px;
        height:38px;
        margin-right:10vw;
    }
    .NB3bm{
        width:34px;
        height:32px;
        margin-right:10vw;
        margin-top:3px;
    }
    .NB3Msg{
        width:38px;
        height:36px;
        margin-right:10vw;
        margin-top:3px;
    }
    .NB3Profile{
        width:38px;
        height:38px;
        margin-right:10vw;
        /* margin-top:3px; */
    }
    .NV3Logout{
        width:40px;
        height:39px;
        margin-right:5vw;
        /* margin-top:3px; */
    }
    .navbarIcon{
margin-left:12vw;
    }
    .navbarHead{
margin-left:15vw;
margin-top:-23px;
    }
    #SIDEBAR{
        /* transition: 0.5s; */
        /* padding-top:50px; */
        width:55vw;
    }
    .sidebar{
        top:64px;
        
    }
    .logoHead{
        margin-left:5vw;
    }
    .sbDeleteIcon{
        display:block;
        width:24px;
       opacity: 0.8;
        float:right;
        margin-top:-52px;
        margin-right:2vw;
        cursor: pointer;
    }
   .sideBarTweetBtn{
    margin-left:6vw;
   }
   #phoneSearch1{
    margin-left:10vw;
   
}
#phoneSearch3, #phoneSearch4{
    margin-left:-60vw;
}
#phoneSearch2, #phoneSearch3 , #phoneSearch4 {
    width:60vw;
}
.searchName{
    font-size: 1rem;
    width:50vw;
}
.searchUsername{
    font-size: 0.9rem;
    width:50vw;;
}
.noPhoneSearch{
    margin-left:-54vw;
}
}
@media(max-width:400px){
    .navbar3{
        padding-left: 4vw;
    }
}
@media(max-width:1110px) and (min-width:500px){
    .sbList{
        margin-left:-1vw;
    }
    /* .sideBarTweetBtn{
        margin-left:2vw;
        width:14vw;
    } */
}
@media(max-width:1010px) and (min-width:500px){
    .sbListItem{
        font-size: 1.2rem;
    }
    .sbListIcon{
        width:44px;
        margin-right:-1vw;
    }
    #notify{
        width:38px;
    }
    #msg{
        width:42px;
    }
    #bm{
        width:40px;
    }
    
}
@media(max-width:940px) and (min-width:500px){
    .sbListItem{
        font-size: 1rem;
    }
    .sbListIcon{
        width:40px;
        margin-right:-1vw;
    }
    #notify{
        width:34px;
    }
    #msg{
        width:38px;
    }
    #bm{
        width:36px;
    }
}

@media(max-width:750px ) and (min-width:500px){
    .sbList{
        margin-left:-2vw;
    }
    #notify{
        width:32px;
    }
    .sbListItem{
        font-size: 1rem;
    }
}
@media(max-width:800px) and (min-width:700px){
    .sbListItem{
        font-size: 0.96rem;
    }
    #notify{
        width:32px;
        /* margin-right:0; */
    }
}
@media(max-width:500px){
    #SIDEBAR{
        display: none;
    }
}
@media(min-width:500px){
    #SIDEBAR{
        display: block;
    }
}
@media(max-width:600px) and (min-width:500px){
    #SIDEBAR{
        width:33vw;
    }
    .sbListItem{
        font-size: 1rem;
    }
    .sbList{
        margin-left:-2vw;
    }
    .sbListIcon{
        width:32px;
        margin-right:-1vw;
    }
    #notify{
        width:26px;
        /* margin-right:-1.5vw; */
    }
    #msg{
        width:30px;
    }
    #bm{
        width:30px;
    }
}