.tweetComp{
    display: flex;
    flex-direction: column;
    height:fit-content;
    width:45vw;
    margin-left: 22.5vw;
    margin-bottom: 2vh;
    background-color: #161718;
    border-radius: 16px;
    z-index: 5;
    padding:2vh 1vw;
    padding-bottom:0vh;
    justify-content: space-evenly;
    text-transform: capitalize;

}
.firstTweetBlock{
    display: flex;
}
.secondTweetBlock{
    display:flex;
   justify-content: space-around;
}
.iconBlock{
    display: flex;
}

 .displaypie {
    width: 43px;
    height: 39.09px;
    margin-right: 1vw;
    border-radius: 50%;
    background: #D9D9D9;
    z-index: 6;
}

#picincircle{
    width: 43px;
    height: 39.09px;
    border-radius: 50%;
}
.username {
    width: 136px;
    /* height: 27px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.9);
    cursor:pointer;
}
.username:hover{
    color:#47C87A;
}

.tweetImage {
    height: auto;
    /* width:fit-content; */
    width: 590px;
    margin-top:2vh;
}

.tweetText {
    width: 42.7vw;
    
    margin-top:2vh;
    margin-bottom:2vh;
    color: white;
    opacity: 0.9;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.tweetvideo {
    height:auto;
    width: 590px;
    margin-top:2vh;
}

.likeIcon {
    width: 22px;
    height: 22px;
    margin-top: 0.2vh;
    margin-right: 0.5vw;
    cursor: pointer;
}

#shareIcon {
    width: 24px;
    height: 24px;
    margin-right: 0.5vw;
    cursor: pointer;
}

#commentIcon {
    width: 23px;
    height: 21px;
    margin-top:0.5vh;
    margin-right: 0.5vw;
    cursor: pointer;
}

#retweetIcon {
    width: 25.2px;
    height: 21px;
    margin-right: 0.5vw;
    cursor: pointer;
}
.bookmarkIcon{
    width: 20px;
    height: 20px;
    margin-left:27vw;
    opacity:0.8;  
    cursor: pointer;
}
.deleteIcon{
    width: 20px;
    height: 20px;
    /* margin-left:27vw; */
    opacity:0.8;  
    cursor: pointer;
}
.deleteIcon:hover{
    color:#47C87A
}
.bookmarkIcon:hover{
    color:#47C87A
}
.tweetLike {
    margin-top: 0.4vh;
    width: 32px;
    height: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.tweetComm {
    margin-top: 0.4vh;
    width: 78px;
    height: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.tweetRetweet {
    width: 64px;
    height: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    margin-top: 0.5vh;
}

.tweetShare {
    width: 44px;
    height: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    margin-top: 0.5vh;
}

.tweetFlexBox {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
} 

/*CREATE TWEET*/

.createTweetDiv {
    position: fixed;
    width: 40vw;
    height: 50vh;
    left: 29vw;
    top:15vh;
    background: #070808;
    background-color: #121212;
    box-shadow: 0px 264px 106px rgba(23, 25, 28, 0.01), 0px 149px 89px rgba(23, 25, 28, 0.05), 0px 66px 66px rgba(23, 25, 28, 0.09), 0px 17px 36px rgba(23, 25, 28, 0.1), 0px 0px 0px rgba(23, 25, 28, 0.1);
    border-radius: 16px;
    box-shadow: 0px 50px 80px #1A1C1E;
    border: 0.7px solid rgba(255, 255, 255, 0.2);
    z-index:15;
    z-index:99999;
}
#CREATETWEET{
    /* margin-top: 500px; */
    display:none;
    z-index:99999;
}
.ctCircle {
    position: absolute;
    width: 4vw;
    height: 7.5vh;
    left: 1.5vw;
    top: 3vh;
    border-radius: 50%;
    background: #D9D9D9;
}

.ctName {
    position: absolute;
    width: 20vw;
    height: 3vh;
    left: 6.5vw;
    top: 3vh;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.9);

}

.ctUserName {
    position: absolute;
    width: 117px;
    height: 20px;
    left: 6.5vw;
    top: 7vh;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    color: rgb(71, 200, 122, 0.8);
}

.ctTagline {
    position: absolute;
    width: 40vw;
    height: 3vh;
    left: 1.5vw;
    top: 15vh;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 1.45rem;
    line-height: 29px;

    color: rgba(255, 255, 255, 0.6);

}

.ctWriteTweet {
    position: absolute;
    top: 30vh;
    left: 1.5vw;
    width: 36.5vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.ctWriteTweetInput {
    width:36.5vw;
    border: none;
    outline: none;
    background: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.9);

}
#ctuploadImg{
    background:none;
    border:none;
    outline:none;
    position:absolute;
    top:20vh;
    /* display: none; */
}
.ctCancelTweet {
    outline: none;
    background: none;
    box-sizing: border-box;
    position: absolute;
    width: 8vw;
    height: 36px;
    left: 22.5vw;
    top: 42vh;
    border: 1px solid #47C87A;
    border-radius: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.9);
}

.ctCreateTweet {
    border: none;
    position: absolute;
    width: 8vw;
    height: 36px;
    left: 31vw;
    top: 42vh;
    background: #47C87A;
    border-radius: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.9);
}

.ctImage {
    position: absolute;
    top: 42vh;
    left: 1.5vw;
    opacity: 0.8;
    cursor: pointer;
}

.ctVideo {
    position: absolute;
    top: 41.5vh;
    height: 33px;
    left: 4.5vw;
    opacity: 0.8;
    cursor: pointer;
}

.ctSmile {
    position: absolute;
    top: 42.4vh;
    left: 7.7vw;
    opacity: 0.8;
    cursor: pointer;
}
.ctEmoji{
    position: absolute;
    top:50vh;
}
.emojipicker{
    position:absolute;
    /* top:2vh; */
    left:-25.5vw;
}
.ctImageText {
    position: absolute;
    top: 46.5vh;
    left: 1.2vw;
    font-size: 0.7rem;
    font-family: 'Montserrat';
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}

.ctVideoText {
    position: absolute;
    top: 46.5vh;
    left: 4.5vw;
    font-size: 0.7rem;
    font-family: 'Montserrat';
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}

.ctSmileText {
    position: absolute;
    top: 46.5vh;
    left: 7.4vw;
    font-size: 0.7rem;
    font-family: 'Montserrat';
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}

/*TWEET POPUP*/
.tweetPopcomp {
    margin-left:-44vw;
    margin-top:5vh;
    width:15vw;
    height:9vh;
    background-color: #121212;
    box-shadow: 0px 264px 106px rgba(23, 25, 28, 0.01), 0px 149px 89px rgba(23, 25, 28, 0.05), 0px 66px 66px rgba(23, 25, 28, 0.09), 0px 17px 36px rgba(23, 25, 28, 0.1), 0px 0px 0px rgba(23, 25, 28, 0.1);
    border-radius: 16px;
    box-shadow: 0px 100px 80px #1A1C1E;
    border: 0.7px solid rgba(255, 255, 255, 0.2);
    display: none;
    z-index:10;
}
.displayTweetPic{
    position: absolute;
    width: 43px;
    height: 39.09px;
    margin-right: 1vw;
    border-radius: 50%;
    background: #D9D9D9;
    z-index: 4;
    margin-left:0.8vw;
    margin-top:0.8vh;
    width:45px;
}
.tweetUsername{
    position: absolute;
    margin-left: 5vw;
    margin-top:2vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: underline;
    cursor: pointer;
}
.tweetUsername:hover{
    color:#47C87A;
}