.authRstFgtPwdBtn{
width:30vw;
top:62vh;
height:6.5vh;
left:2.3vw;
}
#authreset{
    top:10vh;
}
#resetPwdHead{
    top:21vh;
}
#resetPwdHeadInput{
    top:24.5vh;
}
.authRstPwd{
    position: absolute;
    left: 2.5vw;
    top: 41vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px; 
    color: rgba(255, 255, 255, 0.9); 
}
.fgtRstPwd{
    position: absolute;
    height: 15px;
    width:29vw;
    left: 2.5vw;
    top: 52.6vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #F79E9E;
}
.invalidPwd{
    position: absolute;
    height: 15px;
    width:29vw;
    left: 2.5vw;
    top: 31vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #f18f8f;
}
#resetpwd1{
    top:32.5vh;
}
#authRstCfmPwd{
    top:45vh;
}
#rstLock1{
    position:absolute;
    left:0.7vw;
    top:26.5vh;
    height:3.4vh;
    width:6.5vw;
    z-index:4;
    opacity:0.7;
}
#rstLock2{
    position:absolute;
    left:0.7vw;
    top:46.7vh;
    height:3.4vh;
    width:6.5vw;
    z-index:4;
    opacity:0.7;
}
#LEye1{
    color:white;
    opacity:0.7;
    position:absolute;
    top:27vh;
    left:30vw;
    z-index:4;
    cursor:pointer;
}
#LEye2{
    color:white;
    opacity:0.7;
position:absolute;
top:47vh;
left:30vw;
z-index:4;
cursor:pointer;
}

