@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@200&display=swap');

body {
   
    background-color: #121212;
    overflow-x: hidden;
    z-index: 1;
}

#loadSpinner {
    z-index: 9999;
    position: fixed;
    top: 45vh;
    left: 50vw;
}

.loginBg {
    position: absolute;
    width: 33vw;
    height: fit-content;
    left: 34.6vw;
    top: 80px;
    background: linear-gradient(180deg, #222423 3.12%, rgba(33, 36, 34, 0.26) 100%, rgba(43, 45, 43, 0.01) 100%);
    box-shadow: 4px 8px 2px 2px rgba(10, 9, 9, 0.25);
    border-radius: 16px;
    z-index: 10;
    padding:5px 1vw 10px 1.5vw;
    display: flex;
    flex-direction: column;
}

#emailIcon {
  margin-left:0.7vw;
  position:relative;
  top:32px;
    width: 25px;
    height:20px;
}

.authHead {
   margin-top:30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bolder;
    font-size: 2.5rem;
    line-height: 51px;
    color:rgba(255, 255, 255, 0.9);
}

.authEmail {
    margin-top:10px;
    /* margin-bottom: -10px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom:-16px;
}

.authEmailInput {
    outline: none;
    border: none;
   
/* margin-top:-50px; */
    width: 30vw;
    padding-left: 3vw;
    height: 45px;
    background: rgba(17, 19, 21, 0.6);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.9);

}

/* ::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 5px;
    line-height: 20px;
    /* color: rgba(255, 255, 255, 0.2); 
} */
.googleIcon{
    width:20px;
    height:20px;
    margin-right:0.4vw;
    /* margin-top:-3px; */
}
.invalidEmail {
    margin-top:4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 15px;
    margin-bottom:0px;
    color: #f37777;
   
}

.authPwd {
   /* margin-top:-20px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.9);
    /* margin-bottom: -35px; */
    margin-top:20px;
    margin-bottom:-35px;
}

.authPwdInput {
    outline: none;
    border: none;
    width: 30vw;
    padding-left: 3vw;
    height: 45px;
    background: rgba(17, 19, 21, 0.6);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 0;
}

.fgtPwd {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 17px;
    color: #63DF76;
    cursor: pointer;
    margin-left:21vw;
    margin-top:4px;
}
#LEye {
    color: white;
    opacity: 0.9;
   
    z-index: 4;
    margin-left:26.5vw;
    position:relative;
    top:30px;
    cursor: pointer;
}

#lockIcon {
    margin-left:0.5vw;
    position:relative;
    top:49px;
  height:24px;
  width:24px;
}

.authSignIn {
    border: none;
    width: 9vw;
    height: 38px;
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #63DF76;
    border-radius: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

#loginButton {
    width: 30vw;
}

.authSignUp {
    margin-left: 0.3vw;
    width: 10vw;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 29px;
    color: #47C87A;
    cursor: pointer;
}

#hrOr {
    border: 1px solid rgba(255, 255, 255, 0.25);
    width: 30vw;
}

.contGoogle {
    border: none;
    
    width: 30vw;
    height: 38px;
    
    border: 1px solid #47C87A;
    border-radius: 10px;
    background: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.createAcc {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    margin-top:4px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
}
.AUTHENTICATION {
    overflow: hidden;
}

@media(max-width:1000px){
    #emailIcon{
width:20px;
    }
    .emailSignIcon{
        width:20px;
    }
    #lockIcon{
height:20px;
    }
    #LEye{
width:20px;
margin-left:27vw;
    }
    .fgtPwd{
        margin-left:17vw;
    }
}
@media(max-width:950px){
    .loginBg{
        width:40vw;
        margin-left:-5vw;
    }
    .authEmailInput{
        width:37vw;
    }
    .authPwdInput{
        width:37vw;
    }
    #LEye{
        margin-left:34vw;
    }
    .fgtPwd{
        margin-left:23vw;
    }
    #loginButton{
        width:37vw;
    }
    .contGoogle{
        width:37vw;
    }
    .authSignIn{
        width:37vw;
    }
    #hrOr{
        width:37vw;
    }
}
@media(max-width:800px){
    .loginBg{
        width:45vw;
        margin-left:-5vw;
    }
    .authEmailInput{
        width:42vw;
        padding-left:4vw;
    }
    .authPwdInput{
        width:42vw;
        padding-left: 4vw;
    }
    #LEye{
        margin-left:38vw;
    }
    .fgtPwd{
        margin-left:26vw;
    }
    #loginButton{
        width:42vw;
    }
    .contGoogle{
        width:42vw;
    }
    .authSignIn{
        width:42vw;
    }
    #hrOr{
        width:42vw;
    }
}
@media(max-width:650px){
    .loginBg{
        width:55vw;
        margin-left:-10vw;
    }
    .authEmailInput{
        width:52vw;
    padding-left: 5vw;
    }
    .authPwdInput{
        width:52vw;
        padding-left: 5vw;
    }
    #LEye{
        margin-left:46vw;
    }
    #emailIcon{
        width:20px;
    }
    .fgtPwd{
        margin-left:29vw;
    }
    #loginButton{
        width:52vw;
    }
    .contGoogle{
        width:52vw;
    }
    .authSignIn{
        width:52vw;
    }
    #hrOr{
        width:52vw;
    }
}
@media(max-width:500px){
    .loginBg{
        width:60vw;
        margin-left:-14vw;
    }
    .authEmailInput{
        width:57vw;
    padding-left: 5vw;
    }
    .authPwdInput{
        width:57vw;
        padding-left: 5vw;
    }
    #LEye{
        margin-left:50vw;
    }
    #emailIcon{
        width:20px;
    }
    .fgtPwd{
        margin-left:31vw;
    }
    #loginButton, .contGoogle, .authSignIn, #hrOr{
        width:57vw;
    }
}
@media(max-width:450px){
    .loginBg{
        width:75vw;
        margin-left:-22vw;
    }
    .authHead{
        font-size: 2.4rem;
    }
    .authEmailInput{
        width:72vw;
    padding-left: 6vw;
    }
    .authPwdInput{
        width:72vw;
        padding-left: 6vw;
    }
    #LEye{
        margin-left:63vw;
    }
    #emailIcon{
        width:20px;
    }
    .fgtPwd{
        margin-left:40vw;
    }
    #loginButton, .contGoogle, .authSignIn, #hrOr{
        width:72vw;
    }
}