.FgtPwdBg{
    position: absolute;
    width: 35vw;
    height: 62vh;
    left: 34.6vw;
    top: 11.5vh;
    background: linear-gradient(180deg, #222423 3.12%, rgba(33, 36, 34, 0.26) 100%, rgba(43, 45, 43, 0.01) 100%);
    box-shadow: 4px 8px 2px 2px rgba(10, 9, 9, 0.25);
    border-radius: 16px;
    z-index:10;
}
#authHeadTwo{
    top:11vh;
}
#arrow{
    position:absolute;
    top:4vh;
    left:2vw;
    cursor: pointer;
}
.authFgtHead{
position: absolute;
left: 2.5vw;
top: 24vh;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 20px;
color: rgba(255, 255, 255, 0.9);

}
.authFgtEmailInput{
    outline:none;
    border:none;
    position: absolute;
    width:30vw ;
    padding-left:3vw;
    height: 7vh;
    left: 2.2vw;
    top: 28.5vh;
    background: rgba(17, 19, 21, 0.6);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2); 
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: rgba(255, 255, 255, 0.8);
}
.invalidFgtEmail{
    position: absolute;
    left: 2.5vw;
    top: 36vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #f37777;
    /* display:none; */
}
.authFgtPwdBtn{
    border:none;
    position: absolute;
    width: 30vw;
    height: 6.5vh;
    left: 2.2vw;
    top:44vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #63DF76;
    border-radius: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.8);
    cursor:pointer;
}
#emailIconFgt{
    position:absolute;
    left:1vw;
    top:30.5vh;
    height:2.8vh;
    width:5.5vw;
    z-index:4;
}

