.MSGS{
    background-color: #161718;
    width: 46.5vw;
    height: 530px;
    /* height: fit-content; */
    margin-left: 22vw;
    margin-top: 15vh;
    padding-bottom: 5vh;
    background: #161718;
    border-radius: 8px;
    z-index: 105;
}
.Messages1{
    display: flex;
    flex-direction: column;
    padding-left:2vw;
}
.MsgText1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    width:15vw;
    line-height: 44px;
    color: #FFFFFF;
    margin-top: 100px;
}
.MsgText2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width:17vw;
    color: rgba(255, 255, 255, 0.75);  
}
.MsgBtn1{
    outline:none;
    border:none;
    width: 196px;
    height: 40px;
    background: #47C87A;
    border-radius: 12px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
cursor: pointer;
color: rgba(255, 255, 255, 0.9);

}
.Messages2{
    display:flex;
    flex-direction: column;
    margin-left:21vw;
}


/* .Messages3{
    display: flex;
    flex-direction: column;
    margin-left: 20vw;
} */
.MsgText2-1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    width:45vw;
    /* margin-top: 10px; */
    line-height: 35px;
    color: #FFFFFF;
    margin-top: -60px;
}
.MsgText2-2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width:22vw;
    color: rgba(255, 255, 255, 0.75);  
}
.MsgBtn2-1{
    outline:none;
    border:none;
    width: 196px;
    height: 40px;
    background: #47C87A;
    border-radius: 12px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
cursor: pointer;
color: rgba(255, 255, 255, 0.9);

}

/* MSG DROPDOWN */

.msgDDBlock1{
    position: fixed;
    width: 35vw;
    height: fit-content;
    left: 28vw;
    top: 25vh;
    background: #070808;
    background-color: #121212;
    box-shadow: 0px 264px 106px rgba(23, 25, 28, 0.01), 0px 149px 89px rgba(23, 25, 28, 0.05), 0px 66px 66px rgba(23, 25, 28, 0.09), 0px 17px 36px rgba(23, 25, 28, 0.1), 0px 0px 0px rgba(23, 25, 28, 0.1);
    border-radius: 16px;
    box-shadow: 0px 50px 80px #1A1C1E;
    border: 0.7px solid rgba(255, 255, 255, 0.2);
    z-index: 15;
    display: flex;
    flex-direction: column;
    padding-left: 0.5vw;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom:20px;
}
#MSGDROPDOWN{
    display: none;
}
.msgDDText1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    width:35vw;
    line-height: 35px;
    color: #FFFFFF;
    margin-top: -60px;
}
.msgDDSearchIpt{
    border: none;
    outline: none;
    margin-top:20px;
    width: 34vw;
    height: 32px;
    background: none;
    border-bottom:0.5px solid rgba(255, 255, 255, 0.4);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    padding-left: 2vw;
    color: rgba(255, 255, 255, 0.7);   
}

/* User searched css */

.msgUser {
    width:35vw;
    height:58px;
    border-bottom:0.5px solid rgba(255, 255, 255, 0.2);
    margin-top:7px;
    padding-left:1vw;
    display: flex;
    margin-left:-0.5vw;
}
.msgUser2{
    display: flex;
    flex-direction: column;
}
#msgPicincircle {
    width: 42px;
    height: 38.09px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top:8px;
    margin-left:0.5vw;
}
.msgName {
    margin-left: 0.5vw;
    margin-top: 6px;
    width:30vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.9);
}

.msgUsername {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #47C87A;
    margin-top: -20px;
    margin-left: 0.5vw;
    text-decoration: underline;
    cursor: pointer;
}

/* CHATS */

.Chat1{
    display: flex;
    flex-direction: column;
    padding-left:1vw;
  
}
.ChatSearch1{
    border: none;
    outline: none;
    margin-top:20px;
    width: 15.5vw;
    height: 32px;
    background: none;
    border:0.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    padding-left: 2vw;
    color: rgba(255, 255, 255, 0.7);
}

.ChatLine1{
    position: absolute;
    top:361px;
    width: 39vw;
    /* width:100px; */
    /* height: -10px; */
left: 20vw;
    /* top: 778px; */
    /* margin-top:400px; */

    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    border: none;
    border-bottom:0.2px solid rgba(255, 255, 255, 0.3);
    z-index:110;
    transform: rotate(90deg);
}

#ChatUser1{
    border:none;
    margin-top:4px;
    width:15vw;
    height:55px;
    border-bottom:0.5px solid rgba(255, 255, 255, 0.2);
    padding-left:0vw;
    margin-left:0.2vw;
}