.signInvalidEmail{
    position: absolute;
    height: 15px;
    left: 2.5vw;
    top: 49.4vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #F79E9E;
    display:none;
}
#signName{
    width:20vw;
    /* display:none; */
    position: absolute;
    height: 15px;
    left: 2.5vw;
    top: 32.4vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #F79E9E;
}
#signEmail{
    top:38vh;
}
#signEmailInput{
    top:42vh;
}


#signUpBtn{
    top:60vh;
    width:30vw;
    height:7vh;
}

#emailIconS{
    position:absolute;
    left:1.2vw;
    top:44vh;
    height:2.8vh;
    width:5.5vw;
    z-index:4;
}
@media (max-width:550px){

    #emailIconS{
        left:5vw;
    } 
    .signInvalidEmail , #signName{
        font-size: 12px;
        width:84vw;
    }
    #signUpBtn{
        width:82vw;
        font-size: 1.15rem;
    }
}
@media (max-width:360px) and (min-width:360px){
    #signUpBlock{
        /* width:97vw; */
        left:11vw;
    }
}
@media (min-width:700px) and (max-width:950px){
    #signUpBlock{
        left:6vw;
    }
    #authreset{
        font-size: 3.8rem;
    }
    .signInvalidEmail , #signName{
        font-size: 17px;
        width:80vw;
    }
    #signName{
        top:31vh;
        left:4vw;
    }
    #emailIconS{
        left:4.5vw;
        top:41.8vh;
        width:5vw;
    }
    #resetPwdHeadInput{
        top:23.5vh;
    }
    #signUpBtn{
        width:83vw;
        font-size: 1.6rem;
        top:58vh;
    }
    #resetpwd1{
        top:31vh;
        left:4vw;
    }
    #signEmail{
        top:37vh;
        left:4vw;
        font-size: 1.25rem;
    }
    #signEmailInput{
        top:39.6vh;
    }
    .fgtRstPwd{
        left:4vw;
        top:47vh;
    }
}
