#signName1{
    margin-bottom: 4px;
}
#signName{
    display: none;
}
#signInvalidEmail{
    display: none;
}
#signEmail{
    margin-top:10px;
    margin-bottom:4px;
}
.emailSignIcon{
    margin-left:0.7vw;
    position:relative;
    top:66px;
      width: 25px;
      height:20px;
}