.PROFILE {
    /* position: absolute; */
    width: 45vw;
    /* height: 1500px; */
    height: fit-content;
    margin-left: 23vw;
    position:absolute;
    top:90px;
    padding-bottom: 5vh;
    background: #161718;
    border-radius: 8px;
    z-index: 15;
    padding-bottom: 15vh;
}

.pBlock1 {
    display: flex;
    margin-left: -4vw;
    margin-top: 5vh;
}

.pBlock2 {
    display: flex;
    justify-content: space-evenly;
    margin-left: -7vw;
}

.PBLOCK1 {
    display: flex;
    flex-direction: column;
    margin-left:7.5vw;
}

.profileDiv1 {
    display: flex;
    padding-top: 5vh;
}

.pImage {
    margin-left: 1.5vw;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
.pTweet1 {
    width: 5vw;
    height: 3vh;
    margin-right: 2vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.65);
    cursor: pointer;
    margin-bottom: 1.5vh;
}

#pFollowers {
    width: 7vw;
}

.pTweetCount {
    width: 26px;
    height: 38px;
    font-family: 'Karma';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    color: rgba(255, 255, 255, 0.7);
    /* margin-right: 5vw; */
}

#followCount {
    margin-left: 2vw;
    margin-right: -2vw;
}
.pEdiitProfile {
    border: none;
    width: 24vw;
    height: 32px;
    margin-left: -4.35vw;
    background: #2D2E30;
    border-radius: 8px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}
.pMsgBtn {
    border: none;
    width: 11vw;
    height: 32px;
    margin-left: 1vw;
    background: none;
    border:1px solid #47c87a;
    /* background: #2D2E30; */
    border-radius: 8px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
.pProfileFollow {
    border: none;
    width: 11vw;
    height: 32px;
    margin-left: -4.35vw;
    background: #47c87a;
    border-radius: 8px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    color: white;
    /* color: #47c87a; */
    cursor: pointer;

}

.profileDiv2 {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    padding-left: 2vw;
    margin-top: 2.5vh;
}

.pText1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 27px;
    margin-bottom: 0.5vh;
    color: rgba(255, 255, 255, 0.9);
}

.pText2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 20px;
    /* margin-left: 0.8vw; */
    margin-bottom: 0.5vh;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
    text-transform: none;

}

.pText3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    width: 20vw;
    height: auto;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 1vh;
    color: rgba(255, 255, 255, 0.85);
}

.pText4 {
    font-family: 'Montserrat';
    font-style: normal;
    text-transform: none;
    font-weight: 400;
    width: 20vw;
    height: auto;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1vh;
    color: rgba(255, 255, 255, 0.85);
}

.pText5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    width: max-content;
    height: auto;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 0.5vh;
}

#create {
    text-decoration: underline;
}

#update {
    text-decoration: underline;
}

.pText6 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    width: 30vw;
    height: auto;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.85);
}

.profileDiv3 {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.9);
    /* padding-left:2vw; */
    margin-top: 2.5vh;

}

.pTweetHead {
    margin-right: 8vw;
    margin-left: 8vw;
    cursor: pointer;
}

.pLikehead:hover {
    color: #47c87a;
}

.pTweetReply:hover {
    color: #47c87a;
}

.pTweetHead:hover {
    color: #47c87a;
}

.pTweet1:hover {
    color: #47c87a;
}

.pTweetReply {
    margin-right: 4vw;
    margin-left: 5.5vw;
    cursor: pointer;
    /* height:5vh; */
    /* width:20vw; */
}

.pLikehead {
    margin-right: 4vw;
    margin-left: 4vw;
    cursor: pointer;
}

.pLine {
    color: rgba(255, 255, 255, 0.2);
    margin-top: -2vh;
    height: 2vh;
}

.profileDiv4 {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 2.5vh;
    display: none;
}

.pFollowerHead {
    margin-right: 8vw;
    margin-left: 8vw;
    cursor: pointer;
    width: 8vw;
}

.pFollowerHead:hover {
    color: #47c87a;
}

.pFollowingHead {
    margin-right: 8vw;
    width: 8vw;
    margin-left: 4vw;
    cursor: pointer;
}

.pFollowingHead:hover {
    color: #47c87a;
}

.pPost {
    width: 24px;
    height: 24px;
    margin-right: 2vw;
    opacity: 0.7;
    border: 1px solid #47c87a;
    border-radius: 4px;
    cursor: pointer;
}

/*EDIT PROFILE*/

.editPrDiv {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15vh;
    left: 25.5vw;
    width: 40vw;
    padding-bottom:15px;
    height: fit-content;
    background-color: #121212;
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* box-shadow: 0px 100px 80px #1A1C1E; */
    border-radius: 16px;
    display: none;
    z-index: 110;
}

.pEditImage {
    margin-left: 1.5vw;
    margin-top: 4vh;
    margin-bottom: 2vh;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
#editprofileimage{
    margin-left: 1.5vw;
    margin-top: 4vh;
    margin-bottom: 2vh;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display:none;
}
.editImagetext {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin-left: 2vw;
    line-height: 27px;
    /* identical to box height */
    cursor: pointer;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
}

.editName {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    margin-left: 2vw;
    line-height: 27px;
    margin-bottom: 4vh;
    /* identical to box height */


    color: rgba(255, 255, 255, 0.8);
}

.editNameInput {
    background: none;
    border: none;
    outline: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.65);
}

.div1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 36vw;
    margin-left: 2vw;
    margin-top: -3vh;
    margin-bottom: 3vh;
}

.editBio {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    margin-left: 2vw;
    line-height: 27px;
    /* identical to box height */

    margin-bottom: 4vh;
    color: rgba(255, 255, 255, 0.8);
}

.editBioInput {
    background: none;
    border: none;
    outline: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.65);
}

.div2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 36vw;
    margin-left: 2vw;
    margin-top: -3vh;
    margin-bottom: 3vh;
}

#editPCancel {
    top: 68vh;
    left: 21vw;
}

#editPDone {
    top: 68vh;
    left: 30vw;
}

/* FOLLOWERS */

.followersFlex {
    display: flex;
    margin-left: 1.5vw;
    flex-direction: column;
    display: none;
    /* margin-top:40vh; */
    /* width */
}

.followingFlex {
    display: flex;
    flex-direction: column;
    margin-left: 1.5vw;
    display: none;
}

.followCompDiv {
    box-sizing: border-box;
    width: 42vw;
    height: 72px;
    margin-bottom: 10px;
    border: 0.8px solid rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.followName {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
    text-transform: capitalize;
}

.followPic {
    margin-left:1vw;
    /* top:60vh; */
}

.followNameContainer {
    display: flex;
    flex-direction: column;
}

.followUsername {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #47c87a;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: underline;
    margin: 0;
    /* cursor: pointer; */
}

.alterFollower {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 20px;
    position: fixed;
    /* top: 80vh; */
    /* top:20vh; */
    width: fit-content;
    left: 40vw;
    margin-bottom: 5vh;
    color: rgba(255, 255, 255, 0.6);
}

.tweetPrFlexbox {
    display: flex;
    flex-direction: column;
    margin-left: -20.8vw;
    display: none;
   
}

#profileTweetBox {
    background-color: aquamarine;
}

#profileTweetComp {
    width: 42vw;
    border: 0.8px solid rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    /* background-color:#47c87a; */
}

#TWRProfile {
    margin-left: 1vw;
}

#ProfileImage {
    width: 39.8vw;
}

#ProfileVideo {
    width: 39.8vw;
}

#bmIcon {
    margin-left: 18vw;
    margin-right: 0.4vw;
    width:18px;
}
#delIcon{
    width:18px;
}
#prTwReplying1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.7);
    margin-left:4vw;
    margin-bottom:0;
    /* margin-top:-3.2vh; */
}
#prTwReplying2{
    color:#47c87a;
    text-decoration: underline;
    text-transform: none;
    margin-left:0.4vw;
    cursor: pointer;
}
.profileRetweetIcon {
    margin-top: -2vh;
    width: 25.2px;
    margin-right: 0.5vw;
    cursor: pointer;
}

/* DELETE TWEET POPUP */
#DltPopUp {
    display: flex;
position:fixed;
top:150px;
left:32vw;
width:40vw;
height:fit-content;
background-color: #121212;
padding-left: 2vw;
padding-top: 25px;
padding-bottom:20px;
box-shadow: 0px 264px 106px rgba(23, 25, 28, 0.01), 0px 149px 89px rgba(23, 25, 28, 0.05), 0px 66px 66px rgba(23, 25, 28, 0.09), 0px 17px 36px rgba(23, 25, 28, 0.1), 0px 0px 0px rgba(23, 25, 28, 0.1);
border-radius: 16px;
box-shadow: 0px 50px 80px #1A1C1E;
border: 0.7px solid rgba(255, 255, 255, 0.2);
z-index:15;

    align-items: center;
    width: 30vw;
    height: fit-content;
    padding-bottom: 4vh;
    z-index:999;
    display: none;
}

#DltPopText1 {
    margin-left: 7vw;
}

#DltPopText2 {
    /* margin-left: -0.5vw; */
    width: 25vw;
    margin-left:2vw;
}

#DltPopBtn1 {
    margin-left: 4vw;
    background-color: #f4212e;
}

#DltPopBtn2 {
    margin-left: 4vw;
    background: none;
    border-color: rgba(255, 255, 255, 0.8);
    color:rgba(255, 255, 255, 0.8)
    /* margin-bottom:3vh; */
}

@media(max-width:1100px){
.pImage{
    width:150px;
    height:150px;
}
.pTweet1{
    font-size: 1.1rem;
}
.pTweetHead{
    margin-left:6vw;
}
.pFollowerHead{
    margin-left:6vw;
    margin-right:6vw;
}
.followCompDiv{
    height:57px;
}
#bmIcon{
    margin-left:16vw;
}
.editPrDiv{
    width:50vw;
    margin-left:-4vw;
}
.editImagetext{
    font-size: 1.2rem;
}
.div1, .div2{
    width:46vw;
}
#editPCancel{
    width:10vw;
    margin-left:15vw;
}
#editPDone{
    width:10vw;
   
}
#DltPopUp{
    width:35vw;
}

#DltPopText2{
margin-left:4vw;
width:25vw;
}
#DltPopBtn1 {
    margin-left: 7vw;
   margin-top:4px;
}
#DltPopBtn2 {
    margin-left: 7vw;
   
}
}
@media(max-width:950px){
    #bmIcon{
        margin-left:14vw;
    }
   .PBLOCK1{
    margin-left: 5vw;
   }
    .pTweet1{
        font-size: 1.05rem;
    }
    .pTweetCount{
        font-size: 1.5rem;
    }
    .pEdiitProfile{
        height:32px;
    }
    .pTweetHead,.pFollowerHead, .pFollowingHead{
        font-size: 1.1rem;
    }
    .pImage{
        width:140px;
        height:140px;
        margin-left: 1.5vw;
        margin-top:10px;
    }
  
}
@media(max-width:850px){
    .PROFILE{
        width:46vw;
    }
    .PBLOCK1{
        margin-left:6vw;
    }
    .pTweet1{
        font-size: 1rem;
        margin-right:2.5vw;
    }
    .pImage{
        width:120px;
        height:120px;
        margin-top:27px;
    }
    .pEdiitProfile{
        height:30px;
    }
    .followName{
        font-size: 1rem;
    }
    .pTweetHead, .pFollowerHead , .pFollowingHead{
        font-size: 1.05rem;
    }
    .profileDiv2{
        margin-left:1vw;
    }
    .editPrDiv{
        width:55vw;
    }
    .div1, .div2{
        width:50vw;
    }
    #editPCancel, #editPDone{
        width:12vw;
    }
    .pProfileFollow{
        width:12vw;
        height:30px;
        margin-left:-4vw;
    }
    .pMsgBtn{
        height:30px;
        width: 12vw;
    }
    #DltPopUp{
        width:40vw;
    }
    
    #DltPopText2{
    margin-left:4vw;
    width:30vw;
    font-size: 0.95rem;
    }
    #DltPopBtn1 {
        margin-left: 9vw;
       margin-top:4px;
    }
    #DltPopBtn2 {
        margin-left: 9vw;
       
    }
}
@media(max-width:730px){
    .PROFILE{
        margin-left:33vw;
        width:60vw;
    }
    .profileDiv1{
        padding-top: 10px;
        padding-left:2vw;
    }
    .pTweet1{
        font-size: 1.1rem;
        margin-right:6vw;
    }
    #pFollowers{
        margin-right:7vw;
    }
    .pEdiitProfile{
        width:35vw;
    }
    .pTweetHead{
margin-right:10vw;
margin-left: 8vw;
    }

#profileTweetComp {
    width: 56.5vw;
}
#bmIcon{
    margin-left:1vw;
}
.followCompDiv {
    height: 57px;
    width:56.5vw;
}
.pFollowerHead{
    margin-left:10vw;
    margin-right: 10vw;
}
.pFollowingHead{
    margin-right: 14vw;
}
#DltPopUp{
    width:45vw;
}

#DltPopText2{
margin-left:4vw;
width:30vw;
font-size: 0.9rem;
}
#DltPopBtn1 {
    margin-left: 9vw;
   margin-top:4px;
   width:22vw;
}
#DltPopBtn2 {
    margin-left: 9vw;
   width:22vw;
}
#ProfileImage {
    width: 56vw;
}

#ProfileVideo {
    width: 56vw;
}
}
@media(max-width:670px){
    .pTweet1{
        font-size: 1.1rem;
    }
    .pImage{
        margin-left:-0.5vw;
    }
    .PBLOCK1{
        margin-left:5vw;
    }
    .alterFollower{
        width:fit-content;
        left:55vw;
    }
    .editPrDiv{
        width:60vw;
        /* height:550px; */
        margin-left:-8vw;
    }
    .pEditImage{
        width:140px;
        height:140px;
    }
    .div1, .div2{
        width:53vw;
    }
    #editPCancel, #editPDone{
        width:13vw;
    }
}
@media (max-width:600px){
    .PROFILE{
        margin-left:36vw;
    }
    .pTweet1{
        font-size: 1rem;
    }
    .pImage{
        width:110px;
        height:110px;
        margin-left:-1vw;
        margin-top:35px;
    }
    .pBlock2{
        margin-top: -5px;
    }
    .pEdiitProfile{
        margin-top:-5px;
        height:30px;
        margin-left:-2vw;
    }
    #bmIcon{
        margin-left:5vw;
    }
    #DltPopUp{
        width:50vw;
        margin-left:-4vw;
    }
    
    #DltPopText2{
    margin-left:4vw;
    width:40vw;
    font-size: 0.95rem;
    }
    #DltPopBtn1 {
        margin-left: 11vw;
       margin-top:4px;
    }
    #DltPopBtn2 {
        margin-left: 11vw;
       
    }
    #ProfileImage {
        width: 55vw;
    }
    
    #ProfileVideo {
        width: 55vw;
    }
}
@media(max-width:550px){
    .pTweet1{
        font-size: 0.95rem;
    }
    .PBLOCK1{
        margin-left:4vw;
    }
    .PROFILE{
        margin-left: 35vw;
        width:62vw;
    }
    #profileTweetComp {
        width: 58vw;
    }
}
@media(max-width:500px){
    .PROFILE{
        width:87vw;
        margin-left:7vw;
    }
    #profileTweetComp{
        width:81vw;
    }
    #TWRProfile{
        width:76vw;
    }
    #bmIcon{
        margin-left:27vw;
    }
.followCompDiv{
    width:81vw;
}
.pImage{
    width:130px;
    height:130px;
    margin-left:1vw;
    margin-top:20px;
}
.pTweet1{
    font-size: 1rem;
    margin-right:9vw;
}
#pFollowers{
    margin-right:11vw;
}
.PBLOCK1{
    margin-left:5vw;
}
.pEdiitProfile{
    width:45vw;
}
.pProfileFollow{
    width:22vw;
    height:28px;
}
.pMsgBtn{
    height:28px;
    width: 22vw;
}
.pTweetHead{
    margin-left:12vw;
    margin-right:12vw
}
.pFollowerHead{
    margin-left:12vw;
    margin-right:22vw;
}
.pFollowingHead{
    margin-right: 22vw;
}
.editPrDiv{
    width:68vw;
    /* height:520px; */
    margin-left:-10vw;
}
.pEditImage{
    width:130px;
    height:130px;
}
.div1, .div2{
    width:63vw;
}
#editPCancel{
    margin-left:17vw;
}
#editPCancel, #editPDone{
    width:14vw;
}
#DltPopUp{
    width:55vw;
    margin-left:-9vw;
}

#DltPopText2{
margin-left:4vw;
width:45vw;
font-size: 0.9rem;
}
#DltPopBtn1 {
    margin-left: 12vw;
   margin-top:4px;
   height:32px;
   width:25vw;
}
#DltPopBtn2 {
    width:25vw;
    margin-left: 12vw;
    height:32px;
   
}
}
@media(max-width:400px){
    .PROFILE{
        width:88vw;
        margin-left:6vw;
    }
    #profileTweetComp{
        width:83vw;
    }
    #TWRProfile{
        width:79vw;
    }
    #bmIcon{
        margin-left:28vw;
    }
.followCompDiv{
    width:83vw;
}
.pImage{
    width:100px;
    height:100px;
    margin-left:1vw;
    margin-top:20px;
}
.profileRetweetIcon{
    width:18px;
    margin-top:-7px;
    /* height:20px; */
}
.pTweet1{
    font-size: 0.8rem;
    margin-right:9vw;
    margin-left:1vw;
}
.pTweetCount{
    /* font-size: 1.1rem; */
}
#pFollowers{
    margin-right:11vw;
}
.PBLOCK1{
    margin-left:4vw;
}
.pEdiitProfile{
    width:45vw;
    height:28px;
}
.pTweetHead{
    font-size: 1rem;
    margin-left:10vw;
    margin-right:12vw
}
.pLikehead{
    font-size: 1rem;
}
.pFollowerHead{
    font-size: 1rem;
    margin-left:10vw;
    margin-right:22vw;
}
.pFollowingHead{
    font-size: 1rem;
    margin-right: 24vw;
}
.pProfileFollow{
    width:23vw;
    height:26px;
    font-size: 0.85rem;
}
.pMsgBtn{
    height:26px;
    width: 23vw;
    font-size: 0.85rem;
}
    .editPrDiv{
        width:72vw;
       
        margin-left:-12vw;
    }
    .pEditImage{
        width:120px;
        height:120px;
    }
    .div1, .div2{
        width:67vw;
    }
    #editPCancel, #editPDone{
        width:16.5vw;
    }
    .pText1{font-size: 1rem;}
    .pText2{
        font-size: 0.9rem;
        margin-top:-4px;
    }
    #ProfileImage {
        width: 78vw;
    }
    
    #ProfileVideo {
        width: 78vw;
    }
}

.not-found{
    color: rgb(71, 200, 122, 0.9);
    text-align: center;
}